.DuiInputBase {
  background: none;
  border-style: none;
  outline: none;
  padding: 0.75rem;

  &--fullWidth {
    width: 100%;
  }

  &:-internal-autofill-selected {
    background-color: transparent;
    border-radius: 0.25rem;
  }

  &--primary-outlined {
    border-radius: 0.25rem;
        
    color: var(--neutral-500);
    outline: 1px solid var(--neutral-200);

    &::placeholder {
      color: var(--neutral-300);
    }

    &:hover {
      outline-color: var(--neutral-400);
    }

    &[focus='true'],
    &:focus {
      outline-color: var(--primary-700);
    }
  }

  &--disabled {
    color: var(--neutral-300);
    outline-color: var(--neutral-300);

    &[focus='true'],
    &:hover,
    &:focus {
      outline-color: var(--neutral-300);
    }
  }
}
