.DuiTreeVisualizer {
  height: auto;
  text-align: center;
  width: 100%;

  ul {
    padding-top: 20px;
    position: relative;
    transition: 0.5s;

    ul::before {
      border-left: 1px solid #ccc;
      content: '';
      height: 20px;
      left: 50%;
      position: absolute;
      top: 0;
      width: 0;
    }
  }

  li {
    display: inline-table;
    list-style-type: none;
    padding: 10px;
    position: relative;
    text-align: center;
    transition: 0.5s;

    &::before,
    &::after {
      border-top: 1px solid #ccc;
      content: '';
      height: 10px;
      position: absolute;
      right: 50%;
      top: 0;
      width: 51%;
    }

    &::after {
      border-left: 1px solid #ccc;
      left: 50%;
      right: auto;
    }

    &:only-child::after,
    &:only-child::before {
      display: none;
    }

    &:only-child {
      padding-top: 0;
    }

    &:first-child::before,
    &:last-child::after {
      border: 0 none;
    }

    &:last-child::before {
      border-radius: 0 5px 0 0;
      border-radius: 0 5px 0 0;
      border-radius: 0 5px 0 0;
      border-right: 1px solid #ccc;
    }

    &:first-child::after {
      border-radius: 5px 0 0;
      border-radius: 5px 0 0;
      border-radius: 5px 0 0;
    }

    span {
      border: 1px solid #ccc;
      border-radius: 5px;
      color: #666;
      font-size: 12px;
      font-weight: 500;
      letter-spacing: 1px;
      padding: 8px;
      text-transform: uppercase;
    }

  }

}
