{
  "extends": "stylelint-config-sass-guidelines",
  "rules": {
    "selector-class-pattern": null,
    "max-nesting-depth": null,
    "at-rule-no-unknown": null,
    "scss/at-rule-no-unknown": [
      true,
      {
        "ignoreAtRules": [
          "tailwind"
        ]
      }
    ]
  }
}